@charset "utf-8";
/* CSS Document */

.logo {margin:0; padding:0; margin-bottom:20px;}
.pos-top {margin-bottom:20px;}

.tier {border-bottom:1px solid #ccc; padding:20px;}
.tier-2 , .tier-4 {background:#eee;}
.tier-5 {background:#333; color:#ccc;}

.nav .nav-child {
    position: absolute;
    top: 95%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.nav .nav-child .divider {
    *width: 100%;
    height: 1px;
    margin: 8px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #fff;
}
.nav .nav-child a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    color: #333;
    white-space: nowrap;
}
.nav .nav-child:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0,0,0,0.2);
    content: '';
}
.nav .nav-child:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}
.nav .nav-child li > a:hover, .nav .nav-child li > a:focus, .nav .nav-child:hover > a {
    text-decoration: none;
    color: #fff;
    background-color: #08c;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top,#08c,#0077b3);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0077b3));
    background-image: -webkit-linear-gradient(top,#08c,#0077b3);
    background-image: -o-linear-gradient(top,#08c,#0077b3);
    background-image: linear-gradient(to bottom,#08c,#0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0076b2', GradientType=0);
}
.nav > li {
    position: relative;
}
.nav > li:hover > .nav-child,
.nav > li > a:focus + .nav-child {
    display: block;
}